<div class="container">
    <h1>Instructions</h1>
    <h2>Win Condition</h2>
	<p>
	 	The goal of Family Jewels is to reach a cash stash of $2000 in as little days as possible. What is best to keep in mind is buy low and
	 	sell high.
	</p>
	<h2>Current Statistics</h2>
	<p>
	 	This box shows you your current player statistics such as current economy day, player cash, and gem inventory.
	</p>
	<h2>Current Market Prices</h2>
	<p>
	 	This box shows you the current market prices for each gem for the current day. The prices have a 50% fluctuation for each gem when a new
	 	day occurs.
	</p>
	<h2>Options</h2>
	<p>
	 	This box shows you the options you have available to you. Can either choose new day to change the market prices, sell a specific jewel & 
	 	specific amount, buy a specific jewel & specific amount, or reset the game to initial values.
	</p>
	<h2>Action Box</h2>
	<p>
	 	This box is where you enter the jewel & quantity you want to either buy or sell and buttons to trigger those actions or cancel them.
	</p>
</div>
